{{ define "content" }}
<div class="content-list-wrapper">
  <h2>media_vault</h2>

  {{ if .CurrentTag }}
  <div style="margin-bottom: 20px; font-size: 13px; color: #fabd2f;">
    Active media filter: #{{ .CurrentTag }} <a href="/library"
      style="color: #fb4934; text-decoration: none; margin-left: 5px;">[Clear]</a>
  </div>
  {{ end }}

  <div class="index-grid">
    {{ range .Media }}
    <div class="index-item">
      <small class="item-date">{{ .Date.Format "2006-01-02" }}</small>
      <h3><a href="/library/{{ .Slug }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
      <div class="tags-row">
        {{ range .Tags }}
        <a href="/library?tag={{ . }}" class="tag-flag">#{{ . }}</a>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}