{{ define "templates/components/nav.html" }}
<nav class="navbar">
  <a class="nav-link{{ if eq .Page "home" }} active{{ end }}" href="/" data-key="m"><span class="nav-text">/me</span> <span class="nav-key">[m]</span></a>
  <a class="nav-link{{ if eq .Page "blogs" }} active{{ end }}" href="/blogs" data-key="b"><span class="nav-text">/blogs</span> <span class="nav-key">[b]</span></a>
  <!-- <a class="nav-link{{ if eq .Page "career" }} active{{ end }}" href="/career"><span class="nav-text">/career</span> <span class="nav-key">[c]</span></a> -->
  <a class="nav-link{{ if eq .Page "library" }} active{{ end }}" href="/library" data-key="l"><span class="nav-text">/library</span> <span class="nav-key">[l]</span></a>
  <!-- <a class="nav-link{{ if eq .Page "games" }} active{{ end }}" href="/games"><span class="nav-text">/games</span> <span class="nav-key">[g]</span></a> -->
</nav>
{{ end }}